# File Upload (Supabase/Cloudinary)
VITE_SUPABASE_URL="https://nvzczfcwqavyqrbdpiut.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im52emN6ZmN3cWF2eXFyYmRwaXV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1Njc0NjIsImV4cCI6MjA3MjE0MzQ2Mn0.-mrGt6v10-BMjnTdCnzAu8L5xCbz_UAo_kntqkuSbHA"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im52emN6ZmN3cWF2eXFyYmRwaXV0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjU2NzQ2MiwiZXhwIjoyMDcyMTQzNDYyfQ.AFIzm0z9mlHy97atzpQ5gVNvg93m67D_7ACcIhqx74Q"

ADMIN_EMAIL="admin@threadly.com"
VITE_ADMIN_EMAIL="admin@threadly.com"
VITE_ADMIN_PASSWORD="Lucky@0716"
VITE_ADMIN_NAME="Manikanta Boda"
VITE_ADMIN_AVATAR="https://cdn3.iconfinder.com/data/icons/user-with-laptop/100/user-laptop-1024.png"